.productCategory-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  background-color: transparent;
}
.category-wrapper {
  width: min(90vw, 90vw);
  display: grid;
  grid-auto-flow: column;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  background-color: transparent;
}
.category-title {
  margin: 1rem auto;
  color: var(--grey-800);
}
@media screen and (max-width: 991px) {
  .category-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .category-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .category-wrapper,
  .DailyDeal-container .category-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.DailyDeal-container {
  background-color: var(--moody-blue);
  padding: 2rem 0;
}
.DailyDeal-wrapper {
  display: flex;
  width: min(90vw, 90vw);
  flex-wrap: wrap;
  justify-content: space-between;
}
.DailyDeal-container .category-textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.2rem;
  flex: 1;
}
@media screen and (max-width: 991px) {
  .DailyDeal-wrapper {
    flex-direction: column;
  }
  .DailyDeal-container .category-textWrapper {
    text-align: center;
    align-items: center;
    margin-left: 0;
    margin-bottom: 1.2rem;
  }
}
.DailyDeal-container .productCategory-wrapper {
  flex: 2;
}
.DailyDeal-container .category-wrapper {
  grid-auto-flow: column;
  grid-auto-flow: row;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 576px) {
  .DailyDeal-container .category-wrapper {
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
  }
}
.category-timer {
  color: var(--white-200);
  margin-top: 1.5rem;
}
.DailyDeal-container .category-title {
  color: var(--white-200);
  width: 205px;
  margin: 0;
}
