.productCategory-container {
  /* width: 100vw; */
  /* max-width: 100%; */
  /* height: 200px; */
  margin-top: 1rem;
}
.category-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: lightseagreen; */
}
