.highlight-carousel {
  position: relative;
  /* background-color: lightblue; */
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  margin-top: 1rem;
}
.highlight-carousel::-webkit-scrollbar {
  display: none;
}
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 1.5rem;
  background: transparent;
  border: none;
  z-index: 2;
}
.carousel__button--left {
  left: 2%;
}
.carousel__button--right {
  right: 2%;
}

.carousel__track-container {
  /* background-color: lightgreen; */
  width: fit-content;
  position: relative;
  height: 100%;
  background-color: transparent;
}
.carousel__track {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
  -webkit-transition: transform 250ms ease-in;
  -moz-transition: transform 250ms ease-in;
  -ms-transition: transform 250ms ease-in;
  -o-transition: transform 250ms ease-in;
  background-color: transparent;
}
.carousel__slide {
  /* position: absolute;
  top: 0;
  bottom: 0; */
  width: 80vw;
  height: 100%;
  margin: 0 1rem;
  background-color: transparent;
}
.carousel__image {
  width: 100%;
  min-width: 80vw;
  height: 100%;
  object-fit: cover;
}
.slide-example {
  transform: translateX(-80%);
  -webkit-transform: translateX(-80%);
  -moz-transform: translateX(-80%);
  -ms-transform: translateX(-80%);
  -o-transform: translateX(-80%);
}
.carousel__nav {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  z-index: 2;
}
.carousel__indicator {
  border: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgb(0, 0, 0, 0.3);
  margin: 0 12px;
}
.carousel__indicator.current-slide {
  background: rgb(0, 0, 0, 0.75);
}
