#header {
  display: flex;
  align-items: center;
  background-color: var(--white-200);
  box-shadow: var(--Soft-shadow-style1);
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10; */
}
#header .header-wrapper {
  width: min(90vw, 90vw);
  margin: auto;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 575px) {
  #header .header-wrapper {
    width: min(80vw, 90vw);
  }
}
.logo-wrapper {
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .brand-logo {
    width: 90%;
  }
}
#header .searchbar-wrapper {
  width: 50%;
  display: flex;
  justify-content: stretch;
  margin: 0 0.5rem;
  background-color: var(--white-100-primaryWhite);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
button {
  cursor: pointer;
}
.searchbar-wrapper input,
.searchbar-wrapper button {
  --textMedium-fontweight: 300;
  color: var(--grey-500);
  border: none;
  outline: none;
  padding: 0.3rem;
  width: 100%;
  background-color: transparent;
}

.searchbar-wrapper input::placeholder {
  color: var(--grey-500);
}
.searchbar-wrapper#active {
  border: 1px solid var(--grey-500);
}
.searchbar-wrapper button {
  max-width: fit-content;
  padding: 0.3rem 0.8rem;
}
.nav-menu-wrapper {
  width: 100%;
  max-width: 260px;
}
.searchbar-wrapper button:hover,
.nav-menu-wrapper a:hover {
  color: var(--grey-600);
}
.nav-menu-wrapper ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0%;
}
.nav-menu-wrapper li {
  list-style: none;
  margin: 0.5rem;
}
.nav-menu-wrapper ul i {
  font-size: 1.3rem;
}
.nav-menu-wrapper a,
.nav-menu-wrapper li {
  color: var(--grey-500);
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}
#user-log {
  display: none;
}
@media screen and (min-width: 767px) {
  #user-log {
    display: block;
  }
  #user-log i {
    margin-right: 0.5rem;
  }
}
/* ------------------------------- */
.heading-h1 {
  font-size: var(--heading-h1);
}
