#header {
  display: flex;
  align-items: center;
  background-color: var(--white-200);
}
#header .header-wrapper {
  /* background-color: rgb(28, 104, 129); */
  width: min(90vw, 90vw);
  margin: auto;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.logo-wrapper {
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .brand-logo {
    width: 90%;
  }
}
#header .searchbar-wrapper {
  width: 50%;
  display: flex;
  justify-content: stretch;
  margin: 0 0.5rem;
  background-color: var(--white-100-primaryWhite);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
button {
  cursor: pointer;
}
#header .searchbar-wrapper input,
#header .searchbar-wrapper button {
  --textMedium-fontweight: 300;
  color: var(--grey-500);
  border: none;
  outline: none;
  padding: 0.3rem;
  width: 100%;
  background-color: transparent;
  /* border: 1px solid red; */
}
#header .searchbar-wrapper input::placeholder {
  color: var(--grey-300);
}
#header .searchbar-wrapper.active {
  /* outline: 1px solid var(--grey-500); */
  border: 1px solid var(--grey-500);
}
#header .searchbar-wrapper button {
  max-width: fit-content;
  padding: 0.3rem 0.8rem;
}
#header .nav-menu-wrapper {
  width: fit-content;
}
#header .searchbar-wrapper button:hover,
#header .nav-menu-wrapper a:hover {
  color: var(--grey-600);
}
#header .nav-menu-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: wheat; */
  width: fit-content;
  margin: 0;
  padding: 0%;
}
#header .nav-menu-wrapper li {
  list-style: none;
  margin: 0.5rem;
  /* background-color: violet; */
}
#header .nav-menu-wrapper a {
  color: var(--grey-500);
  font-size: var(--text-medium);
  /* background-color: yellow; */
  text-decoration: none;
}
#user-log {
  display: none;
}
@media screen and (min-width: 767px) {
  #user-log {
    display: block;
  }
  #user-log i {
    margin-right: 0.5rem;
  }
}
/* ------------------------------- */
.heading-h1 {
  font-size: var(--heading-h1);
}
