.product__image--wrapper {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  max-width: 610px;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  grid-area: col1;
}
.product__image--wrapper img {
  margin: 0;
  object-fit: cover;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .product__image--wrapper {
    max-width: 100%;
  }
}
.product__detail--wrapper,
.product__ReviewAndMoreDetail--wrapper {
  display: grid;
  grid-auto-columns: minmax(auto, 1fr);
  grid-template-areas: "col1 col2";
  gap: 1.8rem;
}
@media screen and (max-width: 768px) {
  .product__detail--wrapper,
  .product__ReviewAndMoreDetail--wrapper {
    grid-template-areas: "col1 col1" "col2 col2";
  }
  .product__image--wrapper {
    max-width: 100%;
  }
}
.productDetail__wrapper {
  display: flex;
  flex-direction: column;
  grid-area: col2;
}
.productDetail__section {
  border-bottom: 1.5px solid var(--grey-200);
  padding: 0px;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 10px;
}
.productDetail__section:last-child {
  border: none;
}
.productDetail__productTag {
  color: var(--grey-400);
  margin-bottom: 8px;
}
.productDetail__textWrapper {
  width: 100%;
  max-width: 660px;
  padding: 0px;
  margin: 15px 0px;
  margin-top: 0px;
}
.textWrapper--title {
  color: var(--grey-800);
}
.textWrapper--description {
  line-height: 30px;
  color: var(--grey-500);
  max-height: 160px;
  overflow: hidden;
  display: block;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
@media screen and (max-width: 1199px) {
  .textWrapper--description {
    -webkit-line-clamp: 4;
    line-height: var(--textMedium-lineheight);
  }
}
@media screen and (max-width: 891px) {
  .textWrapper--description {
    -webkit-line-clamp: 3;
  }
}
@media screen and (max-width: 767px) {
  .textWrapper--description {
    -webkit-line-clamp: 5;
  }
}
.productDetail__priceAndReviewWrapper {
  display: flex;
  justify-content: space-between;
}
.productDetail__priceWrapper {
  display: grid;
  grid-auto-columns: minmax(auto, 1fr);
  grid-template-areas: "col1 col2";
  align-items: center;
  justify-content: space-between;
  max-width: 150px;
}
.priceWrapper--currentPrice {
  color: var(--highlight-price-color1);
  grid-area: col2;
}
.priceWrapper--originalPrice {
  text-decoration-line: line-through;
  color: var(--grey-400);
  grid-area: col1;
  display: flex;
  align-items: center;
  height: 100%;
}
.productDetail__reviewAndStarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: min(240px, 100%);
}
.reviewWrapper--starCount {
  color: var(--gloy-star-yellow);
  padding: 0px 10px;
}
.reviewWrapper--reviewCount {
  color: var(--grey-400);
}
.productDetail__productCountity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}
@media screen and (max-width: 386px) {
  .productDetail__productCountity {
    flex-wrap: wrap;
  }
  .productCountity--wrapper {
    margin-bottom: 20px;
  }
}
.productCountity--wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 274px;
}
.productCountity--wrapperTitle {
  text-transform: capitalize;
  color: var(--grey-600);
  font-weight: 500;
  margin-right: 10px;
}

.productCountity--counter {
  display: flex;
  margin-right: 1rem;
}
.productCountity--counter button {
  color: var(--grey-500);
  padding: 3px 9px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: none;
}
.productCountity--counter button i {
  width: 12px;
  height: 12px;
}
.productCountity--counter button:hover {
  background: var(--grey-400);
  color: var(--grey-300);
}
.productCountity--counter input {
  outline: none;
  margin: 0px 10px;
  width: 4rem;
  text-align: center;
  color: var(--grey-500);
  background: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
/* Chrome, Safari, Edge, Opera */
.productCountity--counter input::-webkit-outer-spin-button,
.productCountity--counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.productCountity--counter input[type="number"] {
  -moz-appearance: textfield;
}
.productCountity--countityTotal span {
  color: var(--grey-500);
}
.productCountity--countityTotal {
  font-weight: 500;
  color: var(--grey-500);
  padding: 3px 15px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.productCountity--border {
  border: 1px solid var(--grey-400);
}
.productDetail__CTA {
  margin-top: 1.5rem;
}
@media screen and (max-width: 1020px) {
  .productDetail__CTA {
    margin-top: 1rem;
  }
}
.CTA__button {
  background: var(--grey-900);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  outline: none;
  color: var(--white-100-primaryWhite);
  text-transform: uppercase;
  padding: 0.5rem 1.8rem;
  box-shadow: 0px 3px 10px rgba(29, 40, 97, 0.5);
  border-radius: 50px;
  border: 1.5px solid transparent;
  transition: all ease-in-out 150ms;
  -webkit-transition: all ease-in-out 150ms;
  -moz-transition: all ease-in-out 150ms;
  -ms-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
}
.CTA__button--secondary {
  border: 1.5px solid var(--grey-800);
  background: transparent;
  color: var(--grey-800);
  box-shadow: none;
}
.CTA__button:hover {
  background: var(--grey-800);
  box-shadow: var(--CTA-buttonLarge-shadow-style4);
}
.CTA__button--secondary:hover {
  background: var(--grey-800);
  box-shadow: var(--CTA-buttonLarge-shadow-style4);
  color: var(--white-100-primaryWhite);
}
.CTA__button + .CTA__button {
  margin-left: 1rem;
}
@media screen and (max-width: 1020px) {
  .CTA__button {
    padding: 0.3rem 1.2rem;
  }
}
