@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Meddon:wght@100;300;400;500;700;900&display=swap");

:root {
  /* -------------------Typography---------------------- */
  --font-style1-primaryfont: Roboto;
  --font-style2-cursivefont: Meddon;
  --heading-h1: 50px;
  --heading-h2: 40px;
  --heading-h3: 30px;
  --text-large: 25px;
  --text-medium: 18px;
  --text-small: 16px;
  --text-extrasmall: 13px;
  --headingh1-fontweight: 500;
  --headingh2-fontweight: 600;
  --headingh3-fontweight: 600;
  --textLarge-fontweight: 600;
  --textMedium-fontweight: 400;
  --textSmall-fontweight: 400;
  --textExtraSmall-fontweight: 300;
  --headingh1-lineheight: 58px;
  --headingh2-lineheight: 45px;
  --headingh3-lineheight: 35px;
  --textLarge-lineheight: 28px;
  --textMedium-lineheight: 25px;
  --textSmall-lineheight: 20px;
  --textExtraSmall-lineheight: 20px;
  /* -------------------Color's---------------------- */
  --white-100-primaryWhite: #fefeff;
  --white-200: #f6f7fb;
  --white-300: #f4f7fe;
  --black-900-primaryBlack: #1a1c1b;
  --black-600: #6e706f;
  --black-500: #8e8e8e;
  --moody-blue: #070920;
  --gloy-star-yellow: #f7ba00;
  --gloy-yellow-border: #f7ba00;
  --grey-900: #1b2559;
  --grey-800: #2d396b;
  --grey-700: #485585;
  --grey-600: #68769f;
  --grey-500: #8f9bba;
  --grey-400: #b0bbd5;
  --grey-300: #f4f7fe;
  --grey-200: #c9d4ea;
  --grey-100: #eff4fb;
  --highlight-price-color1: #f35563;
  /* -------------------Gradient---------------------- */
  --GradientOverlay-style1: linear-gradient(
    96.46deg,
    #a0a0a0 4.51%,
    #c8c8c8 28.77%,
    #cacaca 61.54%,
    #eeeeee 92.24%
  );
  --GradientOverlay-style2: linear-gradient(
    93.24deg,
    rgba(31, 28, 28, 0.5) 4.18%,
    rgba(31, 28, 28, 0.35) 34.65%,
    rgba(26, 25, 25, 0.05) 78.6%,
    rgba(141, 141, 141, 0.09) 96.08%
  );
  /* -------------------Box-shadow---------------------- */
  --Soft-shadow-style1: 0px 10px 12px rgba(112, 144, 176, 0.08);
  --Default-shadow-style2: 0px 6px 10px rgba(112, 144, 176, 0.12);
  --Sharp-shadow-style3: 0px 8px 12px rgba(40, 41, 41, 0.25);
  --CTA-buttonLarge-shadow-style4: 0px 12px 16px rgba(29, 40, 97, 0.6);
  --CTA-buttonSmall-shadow-style5: 0px 8px 12px rgba(58, 63, 87, 0.6);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-style1-primaryfont), sans-serif;
}
#root {
  background-color: var(--grey-300);
}
.Heading-h1 {
  font-size: var(--heading-h1);
  font-weight: var(--headingh1-fontweight);
  line-height: var(--headingh1-lineheight);
}
.Heading-h2 {
  font-size: var(--heading-h2);
  font-weight: var(--headingh2-fontweight);
  line-height: var(--headingh2-lineheight);
}
.Heading-h3 {
  font-size: var(--heading-h3);
  font-weight: var(--headingh3-fontweight);
  line-height: var(--headingh3-lineheight);
}
.Text-large {
  font-size: var(--text-large);
  font-weight: var(--textLarge-fontweight);
  line-height: var(--textLarge-lineheight);
}
.Text-medium {
  font-size: var(--text-medium);
  font-weight: var(--textMedium-fontweight);
  line-height: var(--textMedium-lineheight);
}
.Text-small {
  font-size: var(--text-small);
  font-weight: var(--textSmall-fontweight);
  line-height: var(--textSmall-lineheight);
}
.Text-extraSmall {
  font-size: var(--text-extrasmall);
  font-weight: var(--textExtraSmall-fontweight);
  line-height: var(--textExtraSmall-lineheight);
}

@media screen and (max-width: 1199px) {
  .Heading-h1 {
    font-size: var(--heading-h2);
    font-weight: var(--headingh2-fontweight);
    line-height: var(--headingh2-lineheight);
  }
  .Heading-h2 {
    font-size: var(--heading-h3);
    font-weight: var(--headingh3-fontweight);
    line-height: var(--headingh3-lineheight);
  }
  .Heading-h3 {
    --textLarge-fontweight: 500;
    font-size: var(--text-large);
    font-weight: var(--textLarge-fontweight);
    line-height: var(--textLarge-lineheight);
  }
  .Text-large {
    --textMedium-fontweight: 500;
    font-size: var(--text-medium);
    font-weight: var(--textMedium-fontweight);
    line-height: var(--textMedium-lineheight);
  }
  .Text-medium {
    font-size: var(--text-small);
    font-weight: var(--textSmall-fontweight);
    line-height: var(--textSmall-lineheight);
  }
  /* 

  .Text-small {
    font-size: var(--text-extrasmall);
    font-weight: var(--textExtraSmall-fontweight);
    line-height: var(--textExtraSmall-lineheight);
  } */
}
/* --------------Effects And Animations-------------------- */
.hover-line::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: var(--grey-800);
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
.hover-line:hover::after {
  width: 100%;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
.hover-Textline {
  text-decoration: none;
}
.hover-Textline:hover {
  text-decoration: underline;
  transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -ms-transition: all ease 500ms;
  -o-transition: all ease 500ms;
  opacity: 0.9;
}
.wrapper {
  width: min(85vw, 90vw);
}
.section {
  width: 100%;
  max-width: 100vw;
  /* background: lightblue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.product__container--wrapper {
  width: min(90vw, 90vw);
  display: flex;
  justify-content: center;
}
